<link rel="stylesheet" href="/css/landing/landing.css?v=<%= site.version %>">
<link rel="stylesheet" href="/css/landing/backgroundImages.css?v=<%= site.version %>">
<%- include('partials/landing/aboveTheFold') %>
<div class="backgroundImage1"></div>
<%- include('partials/landing/cards') %>
<div class="backgroundImage2"></div>
<%- include('partials/landing/weCanHelp') %>
<%- include('partials/secondaryCTASection') %>